 name: Android Build
 
 on:
   push:
     branches:
       - expo-test  
 
 jobs:
   build:
     runs-on: ubuntu-latest
 
     steps:
     - name: Checkout
       uses: actions/checkout@v4
 
     - name: Set up Java JDK 17
       uses: actions/setup-java@v4
       with:
         distribution: 'temurin'
         java-version: 17
 
     - name: Install Node.js
       uses: actions/setup-node@v4
       with:
         node-version: 18
 
     - name: Install dependencies
       run: npm install
 
     - name: Build Android APK
       run: |
         cd android
         ./gradlew assembleRelease
 
     - name: Upload APK as workflow artifact
       uses: actions/upload-artifact@v4
       with:
         name: app-release.apk
         path: android/app/build/outputs/apk/release/app-release.apk
     - name: Distribute to Firebase App Distribution
       uses: wzieba/Firebase-Distribution-Github-Action@v1
       with:
              appId: ${{ secrets.FIREBASE_APP_ID }}
              serviceCredentialsFileContent: ${{ secrets.CREDENTIAL_FILE_CONTENT }}
              groups: testers
              file: android/app/build/outputs/apk/release/app-release.apk
